  <app-header></app-header>
    <!-- <app-contacts-us></app-contacts-us> -->
<!-- <app-women></app-women> -->
    <app-home></app-home>
<!-- <app-home></app-home> -->
<!-- <app-mainhome></app-mainhome> -->

<app-footer></app-footer> 

<!-- <app-kids></app-kids> -->

<!-- <app-about></app-about> -->

<!-- <app-header></app-header> -->
<!-- <app-acount></app-acount> -->
<!-- <app-footer></app-footer> -->
<!-- <app-header></app-header> -->
<!-- <app-home></app-home> -->
<!-- <app-acount></app-acount> -->
<!-- <app-footer></app-footer> -->
